{% extends 'base.html' %}
{# 页面标题 head#}
{% block title %}博客内容{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{# 页面内容 body #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                {#    根据博客类型id跳转到相应的博客类型页（包含该类型下的所有博客）#}
                <ul class="blog-info-description">
                    <li> <span class="glyphicon glyphicon-paperclip"
                               aria-hidden="true"></span><a
                            href= {% url 'blog_with_type' blog.blog_type.id %}> {{ blog.blog_type }}</a></li>
                    <li> <span class="glyphicon glyphicon-user"
                               aria-hidden="true"></span> {{ blog.author }}</li>
                    <li> <span class="glyphicon glyphicon-time"
                               aria-hidden="true"></span> {{ blog.created_time|date:"Y-m-d h:i:s" }}</li>
                    <li> 阅读数：{{ blog.get_read_num }}</li>
                    <li> 评论数：{{ comment_num }}</li>
                </ul>
                <div class="blog-content">
                    {{ blog.content | safe }}

                    <div class="blog-more"></div>
                    <ul class="pager">
                        {% if previous_blog %}
                            <li class="previous"><a href= {% url 'blog_detail' previous_blog.id %}><span
                                    aria-hidden="true">上一篇: {{ previous_blog.title }}</span></a></li>
                        {% else %}
                            <li class="previous disabled"><span aria-hidden="true">上面没有咯</span></li>
                        {% endif %}
                        {% if next_blog %}
                            <li class="next"><a href= {% url 'blog_detail' next_blog.id %}><span
                                    aria-hidden="true">下一篇: {{ next_blog.title }}</span></a></li>
                        {% else %}
                            <li class="next disabled"><span aria-hidden="true">下面没有咯</span></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {#                     评论输入提交框#}
                <div class="comment-area">
                    <h3 class="comment-area-title"> 写评论 </h3>
                    {% if user.is_authenticated %}
                        <form id="id_comment_form" class="form-signin" style="overflow: hidden">
                            <label for="comment_id">{{ user.username }}</label>
                            <div id="id_replied_container" style="display: none">
                                <p>回复：</p>
                                <div id="id_replied">
                                    {#                                    这里的内容由reply()方法动态填充#}
                                </div>
                            </div>
                            {% csrf_token %}
                            {#                            django form 表单#}

                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="id_comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="提交" class="btn btn-primary pull-right">
                        </form>
                        <p>{{ error_message }}</p>
                    {% else %}
                        您尚未登录，需登录后才能进行评论！
                        <a href="{% url 'login' %}?referer={{ request.path }}">点此登录</a>
                        <span> 或者 </span>
                        <a href="{% url 'register' %}?referer={{ request.path }}">点此注册</a>
                    {% endif %}
                </div>
                {#                     评论列表#}
                <h3 class="comment-area-title">评论列表</h3>
                <div id="id_comment_list" class="comment-area">

                    {% for comment in comments %}
                        <div id="id_root_{{ comment.id }}" class="comment">
                            {{ comment.user.username }}
                            {{ comment.created_time |date:"Y-m-d h:i:s" }}
                            <div id="id_comment_{{ comment.id }}">{{ comment.content |safe }}</div>
                            {#                            点击进行回复#}
                            <a href="javascript:reply({{ comment.id }})">回复</a>
                        </div>

                        {#                            显示该评论下的所有回复#}
                        {% for reply in comment.root_comment.all %}
                            <div class="reply">
                                {{ reply.user.username }}
                                {{ reply.created_time| date:"Y-m-d h:i:s" }}
                                回复
                                {{ reply.to_user.username }}
                                <div id="id_comment_{{ reply.id }}">{{ reply.content |safe }}</div>
                                {#                            点击进行回复#}
                                <a href="javascript:reply({{ reply.id }})">回复</a>
                            </div>
                        {% endfor %}
                    {% empty %}
                        <div id="id_no_comment" class="no-comment">
                            <p>暂时没有评论，快来抢沙发吧~</p>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% block script_extents %}
        <script type="text/javascript">
            {#提交评论的ajax#}
            $("#id_comment_form").off().submit(function () {
                // 判断内容是否为空
                $("#id_comment_error").text("");
                if (CKEDITOR.instances['id_content'].document.getBody().getText().trim() == '') {
                    $("#id_comment_error").text("你还没有输入评论哦");
                    return false;
                }
                // 更新数据到textarea
                CKEDITOR.instances['id_content'].updateElement();

                // 异步提交
                $.ajax({
                    url: "{% url 'submit_comment' %}",
                    type: 'POST',
                    data: $(this).serialize(),
                    cache: false,
                    success: function (data) {
                        {#console.log(data);#}
                        if (data.status == "SUCCESS") { //也可以用data['status']
                            // 成功获取到数据，插入到列表中

                            if ($('#id_reply').val() == '0') {
                                // 插入评论
                                {#----------------这里之后需要修改，样式太丑----------------#}
                                var comment_html = data.username + ' ' + data.created_time + ':' + data.content;
                                $("#id_comment_list").prepend(comment_html);
                            } else {
                                //插入回复到评论下
                                {#----------------这里之后需要修改，样式太丑----------------#}
                                var reply_html = '<br>' + data.username + ' ' + data.created_time + ' ' +
                                    '回复' + ' ' + data.to_user.username + '<br>' + data.content;
                                $("#id_root_" + data.root_id).append(reply_html);
                            }
                            // 点了提交后，清空编辑框
                            CKEDITOR.instances['id_content'].set_Data('');
                            $('#id_replied_container').hide(); //回复插入成功后隐藏
                            $('#id_reply').val('0');  //重新一次评论值重置为0
                            $('#id_no_comment').remove();
                        } else {

                            //获取数据失败，比如内容为空,显示错误信息
                            $("#id_comment_error").text(data['error_message']);
                        }
                    },
                    error: function (xhr) {
                        {#console.log(xhr);#}
                    }
                });
                return false;
            });
            {#回复方法#}

            function reply(reply_id) {
                // 获取reply_id并动态显示回复内容
                $('#id_reply').val(reply_id);
                var html = $("#id_comment_" + reply_id).html();
                $('#id_replied').html(html);
                $('#id_replied_container').show(); //获取到了回复进行显示
                $('html').animate({scrollTop: $('#id_comment_form').offset().top - 60}, 200, function () {
                    CKEDITOR.instances['id_content'].focus(); //让输入栏获得焦点
                });


            }
        </script>
    {% endblock %}
{% endblock %}
