{% extends 'base.html' %}
{# 页面标题 head#}
{% block title %}博客内容{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{# 页面内容 body #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                {#    根据博客类型id跳转到相应的博客类型页（包含该类型下的所有博客）#}
                <ul class="blog-info-description">
                    <li> <span class="glyphicon glyphicon-paperclip"
                               aria-hidden="true"></span><a
                            href= {% url 'blog_with_type' blog.blog_type.id %}> {{ blog.blog_type }}</a></li>
                    <li> <span class="glyphicon glyphicon-user"
                               aria-hidden="true"></span> {{ blog.author }}</li>
                    <li> <span class="glyphicon glyphicon-time"
                               aria-hidden="true"></span> {{ blog.created_time|date:"Y-m-d h:i:s" }}</li>
                    <li> 阅读数：{{ blog.get_read_num }}</li>
                </ul>
                <div class="blog-content">
                    {{ blog.content | safe }}

                    <div class="blog-more"></div>
                    <ul class="pager">
                        {% if previous_blog %}
                            <li class="previous"><a href= {% url 'blog_detail' previous_blog.id %}><span
                                    aria-hidden="true">上一篇: {{ previous_blog.title }}</span></a></li>
                        {% else %}
                            <li class="previous disabled"><span aria-hidden="true">上面没有咯</span></li>
                        {% endif %}
                        {% if next_blog %}
                            <li class="next"><a href= {% url 'blog_detail' next_blog.id %}><span
                                    aria-hidden="true">下一篇: {{ next_blog.title }}</span></a></li>
                        {% else %}
                            <li class="next disabled"><span aria-hidden="true">下面没有咯</span></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {#                     评论输入提交框#}
                <div class="comment-area">
                    <h3 class="comment-area-title"> 写评论 </h3>
                    {% if user.is_authenticated %}
                        <form class="form-signin" action="{% url 'submit_comment' %}" method="post"
                              style="overflow: hidden">
                            {% csrf_token %}
                            {#                            django form 表单#}
                            <label for="comment_id">{{ user.username }}</label>
                            {{ comment_form }}
                            <input type="submit" value="提交" class="btn btn-primary" style="float: right">
                        </form>
                        <p>{{ error_message }}</p>
                    {% else %}
                        您尚未登录，需登录后才能进行评论！
                        <a href="{% url 'login' %}?referer={{ request.get_full_path }}">点此登录</a>
                        <span> 或者 </span>
                        <a href="{% url 'register' %}?referer={{ request.get_full_path }}">点此注册</a>
                    {% endif %}
                </div>
                {#                     评论列表#}
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    {% for comment in comments %}
                        <div>
                            {{ comment.user }}
                            {{ comment.created_time |date:"Y-m-d h:i:s" }}
                            {{ comment.content }}
                        </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
