{% extends 'base.html' %}
{% load staticfiles %}
{# 页面标题 head#}
{% block title %}我的网站|登录{% endblock %}
{% block head_extends %}
{#    外部文件引用#}
{% endblock %}
{# 页面内容 body #}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-info" style="margin-top: 15em">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% block op-title %}登录{% endblock %}
                        </h3>

                    </div>

                    <div class="panel-body">
                        {#                        django form 表单#}
                        <form class="form-signin" action="" method="post">
{#                            {% csrf_token %}#}
                            {% for field in form %}
                                <label for="field.id_for_label">{{ field.label }}</label>
                                {{ field }}
                                {#                                输入应为text类型，其他类型报错#}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            {#                        显示错误信息#}
                            <span class="text-danger"
                                  >{{ login_form.non_field_errors.as_text }}</span>
                            <span class="text-danger"
                                  >{{ err_msg }}</span>
                            <p>
                            <label for="valid_code">验证码</label>
                            
                            <img id="valid_code_img" src="/static/images/captcha.png" width="100px" height="50px" alt="captcha">

                            <p class="text-danger"></p>
                            
                            <input type="submit" value="{% block btn-title %}登录{% endblock %}" class="btn btn-info btn-block" >

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}
